@charset "UTF-8";
/* Title: Base Styles
   Status: Finalizado
   Features:
    - Estilos base para o corpo, layout e elementos estruturais do site
   Reasoning:
    - Define a base para o design do site, garantindo consistência e uma estrutura sólida para o desenvolvimento de estilos adicionais. O uso de Flexbox para o layout principal assegura que o footer permaneça no final da página, mesmo com pouco conteúdo, proporcionando uma experiência de usuário mais agradável.    
*/body,html {
    width: 100%; /* Garante que o fundo cubra toda a largura */
    height: 100%; /* Garante que o fundo cubra toda a altura */
    margin: 0; /* Remove espaçamento padrão */
}

/* Layout base com Flexbox (mantém footer no final) */
body {
    display: flex; 
    flex-direction: column; /* Organiza os filhos (header, main, footer) em coluna */
}

/* ESTRUTURA PRINCIPAL */

header {
    width: 100%; 
    display: block; 
}

main {
    width: 100%; 
    flex: 1; /* Faz o conteúdo crescer e empurra o footer */
}
/* Section base */
section {
    width: 80%;     
    margin: 5% auto;
}

footer {
    width: 100%;
}

/* Estilo do copyright */
#copy {
    font-family: var(--Font-Text);
    font-size: clamp(0.8rem, 1.5vw, 1.2rem); /* Tamanho responsivo entre 0.8rem e 1.2rem */
    text-align: center; 

    padding: 20px 0; 
    color: var(--Contrast); 
}

/* MARCA / TÍTULO 
    Title: Marca
    Status: Em desenvolvimento, pode ser ajustado ou expandido conforme necessário.
    Features: Estilo para o título principal da marca, utilizando uma fonte impactante e um espaçamento entre letras para destacar a identidade visual do site.
    Reasoning: O título é um elemento crucial para a identidade visual do site, e um estilo marcante ajuda a criar uma impressão forte e memorável para os visitantes, reforçando a marca e atraindo a atenção para o conteúdo do
*/
#marca {
    /*Typography*/
    font-family: var(--Font-title); 
    font-size: clamp(0.8rem, 2vw, 21rem);
    font-weight: 750;
    letter-spacing: 3px;/* Espaçamento entre letras para um visual mais impactante */

     /*Colors*/
    color: var(--Contrast);
    /*Layout*/
    display: inline-block;
    color: var(--Contrast);
    margin: 2% 3% 4% 3%; /* Espaçamento: 2% em cima, 3% nas laterais, 4% embaixo */
}