#marca {
    /*Typography*/
    font-family: var(--Font-display); 
    font-size: clamp( 1rem, 2vw, 2rem);
    font-weight: 750;
    letter-spacing: 10px;/* Espaçamento entre letras para um visual mais impactante */

     /*Colors*/
    color: var(--Contrast);
    /*Layout*/
    display: inline-block;
    color: var(--Contrast);
    margin: 2% 3% 4% 3%; /* Espaçamento: 2% em cima, 3% nas laterais, 4% embaixo */
}